.videoWrapper{
  padding:100px 20px;
  width:100%;
  background-color: #efefef;
  display:grid;
  grid-template:1fr;
  grid-column-gap: 30px;
  @include breakpoint(m){
    grid-template-columns: 1fr 1fr 1fr
  }
}
.video{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    
    iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
}

// to be displayed on thumbnail later
.video-title, .video-description{
  display:none;
}
